.media-dialog{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 40rem;
    margin-top:1rem;
}

.media-dialog-footer{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: end;
}

.custom-choose-button {
    background-color: #800080 !important; /* Dark Purple */
    border-color: #800080 !important;
    color: white !important;
}
.custom-choose-button:hover {
    background-color: rgba(236, 42, 244, 0.97) !important; /* Slightly lighter purple */
    color: white !important;
}

.purple-theme-button.p-button.cancel-button {
    background-color: #A00000 !important; /* Darker red */
    border-color: #A00000 !important;
    color: white !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.purple-theme-button.p-button.cancel-button:hover {
    background-color: #D32F2F !important; /* Lighter red */
    border-color: #D32F2F !important;
}
