.p-float-label:has(input:focus) label,
.p-float-label:has(input.p-filled) label,
.p-float-label:has(input:-webkit-autofill) label,
.p-float-label:has(textarea:focus) label,
.p-float-label:has(textarea.p-filled) label,
.p-float-label:has(.p-inputwrapper-focus) label,
.p-float-label:has(.p-inputwrapper-filled) label {
    top: 0rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: white;
    border-radius: 0.25rem;
}
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.15rem #8eecfc;
}