.project-layout-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-layout-nav {
    width: 19%;
    height: 100vh;
    /*background: linear-gradient(0deg, rgb(219, 186, 241), rgb(235, 215, 248) 100%);*/
    background-color: rgb(15, 23, 42);
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.floating-container {
    position: sticky;
    top: 65%;
    margin-left: 68%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.blurred-circle {
    position: absolute;
    border-radius: 50%;
    transform: translateZ(0);
}

.large {
    width: 15rem;
    height: 15rem;
    background-color: rgba(168, 85, 247, 1);
    opacity: 0.7;
    filter: blur(120px);
}

.project-layout-nav::-webkit-scrollbar {
    display: none;
}

.project-layout-content {
    width: 81%;
    margin-left: 19%; /* = nav width */
    height: 100vh;
    transition: width 0.3s ease, margin-right 0.3s ease;
}

.project-layout-content.drawer-open {
    width: 55%;
}

.project-layout-header {
    width: 81%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #e3e3e3;
    position: fixed;
    z-index: 9999999999
}

.project-layout-header-action {
    display: flex;
    gap: 1.3rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}

.project-layout-outline {
    padding-top: 3rem;
    min-height: calc(100vh);
    background-image: url('../../assets/images/layout_background.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.nav-logo {
    width: 70%;
    height: auto;
    margin-left: 12%;
    margin-top: 0.8rem;
    margin-bottom: 1.3rem;
}

.project-custom-menu {
    margin-top:0.5rem;
}

.project-custom-menu .active-menu-item {
    background-color: rgba(196, 194, 194, 0.2);
    border-bottom: 0.18rem solid #e3e3e3;
}

.project-custom-menu-item {
    padding: 0.5rem 1rem;
}

.project-layout-nav .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    background: transparent;
    font-size: 0.9rem;
    margin-right: 0.1rem;
    color: #e7e7e7;
    border: none;
    margin-left: 1rem;
}

.project-layout-nav .p-panelmenu .p-panelmenu-header:not(.p-disabled).p-highlight:hover .p-panelmenu-header-content {
    color: #d3d3d3;
}

.project-layout-nav .p-panelmenu .p-panelmenu-content {
    background: transparent;
    margin-left: 1rem;
    margin-right: 0.1rem;
    font-size: 0.9rem;
}

.p-breadcrumb {
    background: transparent;
    border: none;
}

.project-layout-nav .p-panelmenu .p-panelmenu-header:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 5px;
}

.project-layout-nav .p-panelmenu-header-link {
    color: #cecece;
}
