.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 3rem;
}
.custom-card {
    position: relative;
    padding-top: 0.4rem;
}
.close-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    font-size: 0.5rem;
    color: #e04a4a;
    background-color: #fdf9f9;
    border: none;
}